<!DOCTYPE html>

<html>
  <head>
    <title>Desk.com active cases</title>
  </head>
  <body>       
    <p>The current active cases (new, open or pending) are:</p>
    <table>
      <tr>
        <th>ID</th><th>Status</th><th>Subject</th><th>Category</th><th>Type</th><th>Department</th>
      <% active = Desk.search_cases(:status => 'new,open,pending') %>
      <% active.each do |c| %>
        <tr>
          <td><%= c.id %></td>
          <td><%= c.status %></td>
          <td><%= c.subject %></td>
          <td><%= c.custom_fields['category'] %></td>
          <td><%= c.custom_fields['case_type'] %></td>
          <td><%=c.customer.custom_fields['department'] %></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
