<div class="row">
  <div class="small-12 columns">
    <h1>Case number <%= caseid %></h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <table>
      <tr><td><strong>From:</strong></td><td><%= customer_name_email %></td></tr>
      <tr><td><strong>Status:</strong></td><td><%= status %></td></tr>
      <tr><td><strong>Created:</strong></td><td><%= created %></td></tr>
      <tr><td><strong>Last updated:</strong></td><td><%= updated %></td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Case details:</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      <p><%= case_details.to_s.gsub(/\n/, '<br />') %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Case notes:</h2>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      <% case_notes.each do |note| %>
      <p><%= note.to %></p>
      <p><%= note.body %></p>
      <hr />
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Case replies:</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      <% case_replies.each do |reply| %>
      <p>To: <%= reply.to %></p>
      <p>From: <%= reply.from %></p>
      <p>Date: <%= reply.created_at %></p>
      <p><%= reply.body.to_s.gsub(/\n/, '<br />') %></p>
      <hr />
      <% end %>
    </div>
  </div>
</div>
